Library/
Library/ArtifactDB
Library/Artifacts/5a/5ae7ddd9037b8f26c7927fa832682b37
Library/PackageManager/ProjectCache.bin
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/SourceAssetDB
Temp/UnityLockfile
Temp/UnityTempFile-f284eccd74deff64f99911841768384d
Temp/UnityTempFile-ddf07b69aa2c7494387fb9773fbc2e12
Temp/UnityTempFile-af4a4b863f72d6e4e8632d5836928c37
Temp/UnityTempFile-5fc1a777d9bf8d34c983807bcdafd667
Temp/UnityTempFile-56cde00f84576144ba9fe830aa9e5771
Temp/UnityTempFile-3fa68ab55f7856e41916e281bff97a41
Temp/UnityTempFile-265f642a0243af44185c4413c01a8d88
Temp/UnityTempFile-100bee026993afe489b9ce33cf91c86f
Temp/UnityTempFile-07bc5570025ecb042b39a35d2382ea06
Temp/UnityTempFile-002527694af5b1a4bbd82b630294ad98
Temp/tempFile.resG
Temp/tempFile.res
Temp/__Backupscenes/0.backup
Library/SourceAssetDB
Library/shadercompiler-UnityShaderCompiler.exe9.log
Library/shadercompiler-UnityShaderCompiler.exe8.log
Library/shadercompiler-UnityShaderCompiler.exe7.log
Library/shadercompiler-UnityShaderCompiler.exe6.log
Library/shadercompiler-UnityShaderCompiler.exe5.log
Library/shadercompiler-UnityShaderCompiler.exe4.log
Library/shadercompiler-UnityShaderCompiler.exe3.log
Library/shadercompiler-UnityShaderCompiler.exe2.log
Library/shadercompiler-UnityShaderCompiler.exe11.log
Library/shadercompiler-UnityShaderCompiler.exe10.log
Library/shadercompiler-UnityShaderCompiler.exe1.log
Library/SceneVisibilityState.asset
Library/PlayerDataCache/Win/ScriptsOnlyCache.yaml
Library/PlayerDataCache/Win/Data/Managed/UnityEngine.UI.dll
Library/PlayerDataCache/Win/Data/Managed/Unity.Timeline.dll
Library/PlayerDataCache/Win/Data/Managed/Unity.TextMeshPro.dll
Library/PlayerDataCache/Win/Data/Managed/Assembly-CSharp.dll
Library/PlayerDataCache/Win/Data/level0
Library/PlayerDataCache/Win/Data/globalgamemanagers
Library/PackageManager/ProjectCache.bin
Library/LastBuild.buildreport
Library/EditorUserBuildSettings.asset
Library/Artifacts/5a/5ae7ddd9037b8f26c7927fa832682b37
Library/ArtifactDB
